Iata.IS.Business/Service References/SISGatewayService/SISGatewayService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MemberProfileUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberProfileUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberProfileUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockingRuleUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockingRuleUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlockingRuleUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceSettlement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceSettlementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceSettlementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LateSubmissionClosureNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LateSubmissionClosureNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LateSubmissionClosureNotificationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>