Iata.IS.Business/App_Data/SchemaFiles/OARIndexSchemaFiles/PayablesPaxCargoIndexTransmissionV3.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document may not be disclosed, reproduced, copied, recast, reformatted or transmitted in any form by any means electronic or mechanical including photocopying, recording or any information storage and retrieval system without the express and prior written permission of the International Air Transport Association. 

(C) Copyrights Reserved International Air Transport Association 2016 

The schema is located online at http://www.iata.org/services/finance/sis/Documents/schemas/PayablesPaxCargoIndexTransmissionV3.6.xsd

***All XSDs will be versioned the same as the ISPG version being release, irrespective of if the schemas change.  For specific changes to the schemas, please refer to the change log.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SISPayablesIndexTransmission">
		<xs:annotation>
			<xs:documentation>Defines the Index File for Pax and Cargo Payable billings</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SISPayablesIndexHeader">
					<xs:annotation>
						<xs:documentation>Header Information of the SIS Pax and Cargo Index file for Payables</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Version">
								<xs:annotation>
									<xs:documentation>Current version number of the specification. Should be always "IATA: SISPayablesDailyMiscIndexTransmission V1.0.0"</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TransmissionID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unique identifier for the TransmissionMessage</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BilledMember">
								<xs:annotation>
									<xs:documentation>Member Prefix (220 in case of Lufthansa, 001 in case of American Airlines)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ClearanceMonth">
								<xs:annotation>
									<xs:documentation>Clearance Month for which the supporting is getting linked. This should be in MMYY format.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(0[1-9]|1[012])\d{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PeriodNumber">
								<xs:annotation>
									<xs:documentation>Clearance Period on for which the Invoice Details are to be linked.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="00"/>
										<xs:enumeration value="01"/>
										<xs:enumeration value="02"/>
										<xs:enumeration value="03"/>
										<xs:enumeration value="04"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BillingCategory">
								<xs:annotation>
									<xs:documentation>Type of Invoice: P-PAX, F - PAX Form C, C-Cargo</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="P"/>
										<xs:enumeration value="C"/>
										<xs:enumeration value="F"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InvoiceHeader" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BillingMember">
											<xs:annotation>
												<xs:documentation>Member Prefix (220 in case of Lufthansa, 001 in case of American Airlines)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvoiceNumber">
											<xs:annotation>
												<xs:documentation>Invoice/Credit Note Number (This will be zero in case of Pax Sampling Form C)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EInvoicingFiles" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="SrNo"/>
													<xs:element ref="FileName"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DetailedListingFiles" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="SrNo"/>
													<xs:element ref="FileName"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="InvoiceSupportingAttachments" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="AttachmentNumber"/>
													<xs:element ref="AttachmentFileName"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BatchDetails" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ProvisionalInvoiceNumber" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BatchNumber">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:maxInclusive value="99999"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SequenceNumber">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:maxInclusive value="99999"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MemoFileName" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="500"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LineItemDetailsAttachments" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="AttachmentNumber" minOccurs="0"/>
																<xs:element ref="AttachmentFileName" minOccurs="0"/>
																<xs:element name="BreakdownDetails" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="BreakdownSerialNumber">
																				<xs:simpleType>
																					<xs:restriction base="xs:integer">
																						<xs:maxInclusive value="99999"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="BreakdownDetailsAttachments" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element ref="AttachmentNumber"/>
																						<xs:element ref="AttachmentFileName"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<!-- Changes made for ISPG Release 3.1.1 -->
																<!-- Added min occurs = 0 -->
																<!-- Changes made for ISPG Release 3.1.1 -->
																<!-- Added min occurs = 0 -->
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<!-- Changes made for ISPG Release 3.1.1 -->
													<!-- Added Provisional Invoice Number to take care of Form C and Form D/E billings-->
													<!-- Changes made for ISPG Release 3.1.1 -->
													<!-- Added min occurs = 0 -->
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- Changes made for ISPG release 3.1 -->
										<!-- Changed Element Name from BilledMember to BillingMember -->
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- Changes made for ISPG release 3.1 -->
							<!--  Element name changed from BillingMember to BilledMember -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrNo">
		<xs:annotation>
			<xs:documentation>Serial number for e-invoicing/Detailed Listing related files</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="99999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FileName">
		<xs:annotation>
			<xs:documentation>The e-invoicing/Detailed Listing file name including the relative path to access it (if any)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="500"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AttachmentNumber">
		<xs:annotation>
			<xs:documentation>Serial number for Invoice/Line Item Details/Breakdown Details Attachments</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="99999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AttachmentFileName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="500"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
